/******
Import
*******/ 
/*Fonts*/
@import 'Var/Fonts';

/*Color*/
@import 'Var/Color';
/*Btn*/
@import 'Var/btn';

html{
    font-size: 10px;
}
body{
    font-size: 16px;
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

/******
Import
*******/ 
/*header*/
@import 'block/header';
/*main*/
@import 'block/main';
