/******
Import
*******/ 
/*Fonts*/
@import 'Var/Fonts';

/*Color*/
@import 'Var/Color';
/*Btn*/
@import 'Var/btn';

/*header*/
@import 'block/header';
/*burger*/
@import 'block/burger';
/*main__about*/
@import 'block/main__about';
/*main__popular*/
@import 'block/main__popular';
/*main__collection*/
@import 'block/main__collection';
/*main__reviews*/
@import 'block/reviews';
/*main__blog*/
@import 'block/main__blog';
/*footer*/
@import 'block/footer';

/*Html*/
html{
    font-size: 10px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Logo*/
.logo{
    display: flex;
    flex-direction: row;
    align-items:center;

    text-decoration: none;

    position: relative;
    z-index: 1;
    img{
        min-width: 40px;
    }
    
    p{
    font-size: 2em;
    font-family: $Fonts-Basket;
    color: $Color-BackButt;

    padding-left: 1rem;
    letter-spacing: 2px;
        span{
            color:#000;
        }
    }
} 
/*Main*/
main{
    position: relative;
    .main__title{
        font-size: 2.8em;
        font-family: $Fonts-Title;
        color: $Color-Title;
        line-height: 0.556;
        font-weight: 500;

        padding-bottom: 3rem;
    }

    .main__subtitle{
        font-size: 1em;
        font-family: $Fonts-Button;
        color: $Color-Subtitle;
        line-height: 2;
        text-align: left;

        max-width: 600px;

        padding-bottom: 6rem;

        text-align: justify;
    }
    
    
}

/*Link*/
.nav__link{
    display: flex;
    flex-direction: column;
    .link{
        text-decoration: none;
        font-size: 1em;
        font-family: $Fonts-Link;
        color: rgb(136, 136, 136);
        line-height: 1.667;
        

        margin-bottom: 10px;
    }
}

/*Media*/
@media (max-width: 1440px){
    /*Header*/
    header{
        /*Nav*/
        .header__social{
            nav{
                left: 96%;
            }
        }
        .header__subtitle p{
            transform: translateX(-125px) translateY(354px) rotate(-90deg);
        }
         
    }
    /*Main*/
    main {
        .main__about{
            left: 0;
        }
        .main__collection {
            .main__collection_picture{
                &:before{
                    top: 190px;
                    left: 220px;
                }
            }
            .btn-main{
                margin-left: 15px;
            }
        }
    }
}
@media  (max-width: 1110px){
    body{
        font-size: 14px;
    }
    header{
        height: 100vh;
        /*Nav*/
        .header__social{
            nav{
                left: 95%;
            }
        }
        .header__picture{
            img{
                width: 50%;
                height: 68%;
            }
        }  
    }
    /*Main*/
    main {
        .main__collection {
            .main__collection_picture{
                max-width: 440px;
                &:before{
                    display: none;
                }
            }
            .main__subtitle{
                max-width: 520px;
            }
            
        }
        .main__popular_block{
            .main__popular_item{
                .popular__picture{
                    &:before{
                        display: none;
                    }
                    .btn-popular{
                        max-width: 150px;
                        opacity: 1;
                        top: 91%;
                        right: 21%;
                        background-color:$Color-BackButt;
                        color:$Color-Button;
                        border:0;  
                    }
                }
            }
        }
        .main__blog{
            padding-bottom: 12rem;
            .main__blog-item{
                .main__blog-picture{
                    margin-bottom: 30px;
                    &:after,
                    &:before{
                        display: none;
                    }
                }
            }
            .main__blog-block{
                .main__subtitle{
                    padding-bottom: 4rem;
                }
            }
        }
    }
}

@media (max-width: 770px) {
    body{
        font-size: 13px;
    }
    /*header*/
    header{
        /*Nav*/
        .header__social{
            nav{
                left: 92%;
            }
        }
        .header__picture {
            display: none;
        }
        .header__main{
            .header__main_brand{
                padding-top: 8em;
                .main_brand_picture{
                    width: 415px;
                    margin: 0 auto;
                }
            }
            .btn-header{
                max-width: 191px;
                word-spacing: 2px;
                font-size:1.4em;
                margin-left: 135px;
            }
        }
        .header__social nav{
            top: 44px;
        }
        .header__subtitle p{
            transform: translateX(-125px) translateY(160px) rotate(-90deg);
        }
    }
    /*main*/
    .main{
        .main__about_desc{
            left: 5%;
            .main__subtitle{
                padding-bottom: 2.5rem;
            }
            .btn-main{
                margin-left: 0;
            }
        }
        .main__popular {
            .main__popular_block{
                padding-left: 50px;
                padding-right: 50px;
                .main__popular_item{
                    flex:0 1 50%;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                }
            } 
        }
        .main__collection {
            flex-direction: column-reverse;
            .main__collection_picture{
                max-width: 413px;
                margin-bottom: 50px;
                &:before{
                    display: none;
                }
            }
            .main__subtitle{
                max-width: 520px;
            }
            
        }
    }
}