/******
Import
*******/
/*Fonts*/
/*Fonts*/
/*Color*/
/*Color*/
/*Btn*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: "Poppins";
  color: #0a0a0a;
  text-align: center;
  text-decoration: none;
  background-color: #82f4d3;
}

/*.btn-header*/
.btn-header {
  max-width: 300px;
  height: 50px;
  margin-left: 55px;
  word-spacing: 8px;
  position: relative;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-header:hover:before {
  top: 5px;
  left: -5px;
}

.btn-header:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #82f4d3;
  top: 12px;
  left: -12px;
  z-index: -1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/*.btn-main*/
.btn-main {
  max-width: 146px;
  height: 47px;
  font-size: 1em;
  position: relative;
}

.btn-main:hover:before {
  top: -5px;
  left: -5px;
}

.btn-main:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #82f4d3;
  top: -12px;
  left: -12px;
  z-index: -1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/*.btn-popular*/
.btn-popular {
  background: transparent;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 21%;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.btn-footer {
  -webkit-box-shadow: 0px 5px 19px 1px rgba(242, 241, 241, 0.75);
          box-shadow: 0px 5px 19px 1px rgba(242, 241, 241, 0.75);
  width: 146px;
  height: 47px;
}

/*header*/
header {
  background: url(../img/Header/Back.jpg) no-repeat center center;
  background-size: cover;
  height: 1000px;
  position: relative;
  padding-top: 6rem;
}

header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 10rem;
}

header .header__main_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  z-index: 10;
}

header .header__main_brand .main_brand_picture {
  display: block;
  width: 325px;
  padding-bottom: 2.5rem;
}

header .header__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding-bottom: 6.5rem;
}

header .header__social {
  position: relative;
}

header .header__social nav {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  top: 245px;
  right: 0;
  left: 101%;
  bottom: 0;
}

header .header__social nav .header__social_link {
  width: 55px;
  height: 55px;
  margin-bottom: 3rem;
}

header .header__social nav .header__social_link .social__icon {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

header .header__social nav .header__social_link .social__icon:hover {
  fill: #fff;
}

header .header__subtitle p {
  width: 320px;
  display: inline-block;
  -webkit-transform: translateX(-193px) translateY(354px) rotate(-90deg);
  transform: translateX(-193px) translateY(354px) rotate(-90deg);
  font-size: 0.9em;
  font-family: "Poppins";
  color: #8f8f8f;
  line-height: 1.8;
}

/*burger*/
.menu_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.menu_btn .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  visibility: hidden;
  margin-right: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: translateX(15%);
  transform: translateX(15%);
  opacity: 0;
  background-color: #000;
  height: 40px;
  padding-left: 25px;
  padding-right: 5px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.menu_btn .nav__link a {
  margin-right: 20px;
  margin-bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_btn .nav__link a:hover {
  color: #fff;
}

.menu_btn .nav__link_active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.menu_btn .burger-menu {
  display: block;
  background: #000;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  position: relative;
  z-index: 1000;
}

.menu_btn .burger-menu span {
  position: absolute;
  margin-top: -1px;
  margin-left: -10px;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.menu_btn .burger-menu span::before, .menu_btn .burger-menu span::after {
  content: '';
  position: absolute;
  margin-top: -1px;
  margin-left: -10px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_btn .burger-menu span::before {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.menu_btn .burger-menu span::after {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.menu_btn .burger-menu_active span:before {
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  width: 10px;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.menu_btn .burger-menu_active span:after {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 10px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

/*main__about*/
.main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10rem;
  padding-bottom: 80px;
  top: auto;
  right: auto;
  left: -6%;
  bottom: auto;
  position: relative;
}

.main__about .main__about_picture {
  width: 100%;
  max-width: 670px;
  max-height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #eeeded;
  border: 6px solid #fff;
  opacity: 0.722;
  -webkit-box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
          box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
}

.main__about_desc {
  position: absolute;
  top: 52%;
  left: 40%;
  bottom: auto;
  right: auto;
}

.main__about_desc P {
  max-width: 600px;
}

.main__about_desc a {
  margin-left: auto;
}

/*main__popular*/
.main__popular {
  padding-bottom: 13rem;
}

.main__popular .main__popular_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__popular .main__popular_block .main__popular_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
      flex: 0 1 25%;
  padding-left: .8rem;
}

.main__popular .main__popular_block .main__popular_item .popular__picture {
  width: 100%;
  max-width: 250px;
  max-height: 305px;
  position: relative;
  margin-bottom: 6rem;
}

.main__popular .main__popular_block .main__popular_item .popular__picture img {
  width: 100%;
}

.main__popular .main__popular_block .main__popular_item .popular__picture:hover:before,
.main__popular .main__popular_block .main__popular_item .popular__picture:hover .btn-popular {
  opacity: 1;
}

.main__popular .main__popular_block .main__popular_item .popular__picture:before {
  content: "";
  opacity: 0;
  width: 94%;
  height: 94%;
  background-color: #82f4d3;
  position: absolute;
  top: 3%;
  left: 3%;
  right: 0;
  bottom: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.main__popular .main__popular_block .main__popular_item p {
  font-size: 1em;
  font-family: "Poppins";
  color: black;
  line-height: 2;
  text-align: left;
  padding-bottom: 2rem;
}

.main__popular .main__popular_block .main__popular_item p span {
  opacity: 0.5;
  padding-left: 2rem;
}

.main__popular .main__popular_block .main__popular_item .price {
  font-size: 1.6em;
  font-family: "Roboto";
  color: #999999;
  line-height: 1.2;
  text-align: left;
}

/*main__collection*/
.main__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 200px;
}

.main__collection .main__collection_picture {
  background-color: #fde7ed;
  border: 6px solid #fff;
  -webkit-box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
          box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
  width: 100%;
  max-width: 480px;
  max-height: 530px;
  position: relative;
}

.main__collection .main__collection_picture:before {
  display: block;
  content: "";
  width: 300px;
  height: 385px;
  background-image: linear-gradient(114deg, #65e0bc 0%, #c9f9eb 100%);
  background-image: -ms-linear-gradient(114deg, #65e0bc 0%, #c9f9eb 100%);
  opacity: 0.722;
  position: absolute;
  top: 240px;
  left: 280px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main__collection .main__collection_picture img {
  height: 100%;
  width: 100%;
}

/*main__reviews*/
.main__reviews {
  padding-bottom: 9.5rem;
}

.main__reviews .slick-prev {
  left: -50px;
}

.main__reviews .slick-prev:before, .main__reviews .slick-next:before {
  color: #000;
  font-size: 2.8em;
}

.main__reviews .reviews_slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 1rem;
  outline: none;
}

.main__reviews .reviews_slider-block p {
  width: 100%;
  max-width: 850px;
  text-align: center;
}

.main__reviews .reviews_slider-block span {
  font-size: 1.2em;
  font-family: "Poppins";
  color: #666666;
}

.main__reviews .reviews_slider-block .prof {
  color: #82f4d3;
}

/*main__blog*/
.main__blog {
  padding-bottom: 25em;
}

.main__blog .blog__title {
  text-align: center;
  padding-bottom: 9rem;
}

.main__blog .main__blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.main__blog .main__blog-item .main__blog-picture {
  width: 100%;
  max-width: 425px;
  max-height: 560px;
  padding: 0px 0px 36% 0px;
  position: relative;
  border: 6px solid white;
  -webkit-box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
          box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
}

.main__blog .main__blog-item .main__blog-picture:before {
  display: block;
  content: url(../img/main/main__blog/main__blog__before.jpg);
  width: 270px;
  height: 350px;
  position: absolute;
  top: 258px;
  left: 312px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main__blog .main__blog-item .main__blog-picture:after {
  display: block;
  content: "";
  width: 270px;
  height: 350px;
  border: 10px solid  #f9f9f9;
  background-color: #fff;
  position: absolute;
  top: -100px;
  left: -110px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main__blog .main__blog-item .main__blog-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main__blog .main__blog-item .main__blog-block {
  text-align: left;
}

.main__blog .main__blog-item .main__blog-block .main__title {
  font-size: 1.6em;
  padding-top: 2rem;
}

.main__blog .main__blog-item .main__blog-block p {
  padding-bottom: 10rem;
}

.main__blog .main__blog-item .main__blog-block a {
  margin-left: auto;
}

/*footer*/
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
      align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-top: 4em;
  padding-bottom: 4em;
}

.footer__inner .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.footer__inner .support .link {
  text-decoration: none;
  font-size: 1em;
  font-family: "Poppins";
  color: #888888;
  line-height: 1.667;
  text-align: left;
  margin-bottom: 10px;
}

.footer__inner .footer__form p {
  font-size: 1em;
  font-family: "Poppins";
  color: #888888;
  line-height: 1.667;
  text-align: left;
  padding-bottom: 3em;
}

.footer__inner .footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-bottom: 3em;
}

.footer__inner .footer__form form input {
  background-color: white;
  -webkit-box-shadow: 0px 5px 23.75px 1.25px rgba(200, 200, 200, 0.95);
          box-shadow: 0px 5px 23.75px 1.25px rgba(200, 200, 200, 0.95);
  width: 304px;
  height: 47px;
  border: none;
  margin-right: 5px;
  text-align: center;
}

.footer__inner .footer__form .footer__social-link {
  text-decoration: none;
  margin-right: 35px;
}

.footer__inner .footer__form .footer__social-link .footer_icon {
  width: 18px;
  height: 18px;
  fill: #bbbbbb;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.footer__inner .footer__form .footer__social-link .footer_icon:hover {
  fill: #82f4d3;
}

/**footer_contact**/
.footer_contact {
  text-align: right;
}

/*Fonts*/
/*Media*/
@media (max-width: 1440px) {
  /*Header*/
  header {
    /*Nav*/
  }
  header .header__social nav {
    left: 96%;
  }
  header .header__subtitle p {
    -webkit-transform: translateX(-125px) translateY(354px) rotate(-90deg);
    transform: translateX(-125px) translateY(354px) rotate(-90deg);
  }
  /*Main*/
  main .main__about {
    left: 0;
  }
  main .main__collection .main__collection_picture:before {
    top: 190px;
    left: 220px;
  }
  main .main__collection .btn-main {
    margin-left: 15px;
  }
}

@media (max-width: 1110px) {
  body {
    font-size: 14px;
  }
  /*Header*/
  header {
    height: 920px;
    /*Nav*/
  }
  header .header__social nav {
    top: 170px;
    left: 95%;
  }
  header .header__picture img {
    width: 50%;
    height: 68%;
  }
  header .header__subtitle p {
    -webkit-transform: translateX(-125px) translateY(281px) rotate(-90deg);
    transform: translateX(-125px) translateY(281px) rotate(-90deg);
  }
  /*Main*/
  main .main__collection .main__collection_picture {
    max-width: 440px;
  }
  main .main__collection .main__collection_picture:before {
    display: none;
  }
  main .main__collection .main__subtitle {
    max-width: 520px;
  }
  main .main__popular_block .main__popular_item .popular__picture:before {
    display: none;
  }
  main .main__popular_block .main__popular_item .popular__picture .btn-popular {
    max-width: 150px;
    opacity: 1;
    top: 91%;
    right: 21%;
    background-color: #82f4d3;
    color: #0a0a0a;
    border: 0;
  }
  main .main__blog {
    padding-bottom: 12rem;
  }
  main .main__blog .main__blog-item .main__blog-picture {
    margin-bottom: 30px;
  }
  main .main__blog .main__blog-item .main__blog-picture:after, main .main__blog .main__blog-item .main__blog-picture:before {
    display: none;
  }
  main .main__blog .main__blog-block .main__subtitle {
    padding-bottom: 4rem;
  }
}

@media (max-width: 770px) {
  body {
    font-size: 14px;
  }
  /*header*/
  header {
    /*Nav*/
  }
  header .header__social nav {
    left: 92%;
  }
  header .header__picture {
    display: none;
  }
  header .header__main .header__main_brand {
    padding-top: 8em;
  }
  header .header__main .header__main_brand .main_brand_picture {
    width: 415px;
    margin: 0 auto;
  }
  header .header__main .btn-header {
    max-width: 191px;
    word-spacing: 2px;
    font-size: 1.4em;
    margin-left: 135px;
  }
  header .header__social nav {
    top: 44px;
  }
  header .header__subtitle p {
    -webkit-transform: translateX(-125px) translateY(160px) rotate(-90deg);
    transform: translateX(-125px) translateY(160px) rotate(-90deg);
  }
  /*main*/
  .main .main__about_desc {
    left: 5%;
  }
  .main .main__about_desc .main__subtitle {
    padding-bottom: 2.5rem;
  }
  .main .main__about_desc .btn-main {
    margin-left: 0;
  }
  .main .main__popular .main__popular_block {
    padding-left: 50px;
    padding-right: 50px;
  }
  .main .main__popular .main__popular_block .main__popular_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .main .main__collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    padding-bottom: 75px;
  }
  .main .main__collection .main__collection_picture {
    max-width: 413px;
    margin-bottom: 50px;
  }
  .main .main__collection .main__collection_picture:before {
    display: none;
  }
  .main .main__collection .main__subtitle {
    max-width: 520px;
  }
  .main .main__blog .main__blog-item .main__blog-picture {
    height: 403px;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 13px;
  }
  /*Header*/
  header {
    height: 730px;
    background-position-x: 36%;
  }
  header .header__nav .logo {
    width: 100px;
  }
  header .header__nav .logo p {
    font-size: 1.8em;
  }
  header .header__nav .menu_btn .nav__link {
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vh;
    z-index: 100;
    height: 737px;
    top: -70px;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    border: 0px;
    outline: none;
  }
  header .header__nav .menu_btn .nav__link_active {
    -webkit-transform: translateX(-69%);
    transform: translateX(-69%);
  }
  header .header__nav .menu_btn .nav__link_active .link {
    font-size: 2em;
    margin-bottom: 24px;
    margin-right: 0;
  }
  header .header__nav .menu_btn .burger-menu {
    width: 40px;
    height: 40px;
  }
  header .header__main .header__main_brand {
    padding-top: 2em;
  }
  header .header__main .header__main_brand .main_brand_picture {
    width: 300px;
    margin-left: 0;
  }
  header .header__main .btn-header {
    margin-left: 15px;
    font-size: 1.1em;
  }
  header .header__social nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    top: 234px;
    left: 16%;
  }
  header .header__social nav .header__social_link {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }
  header .header__subtitle {
    display: none;
  }
  /*main*/
  .main .btn-main {
    max-width: 116px;
    height: 36px;
  }
  .main .main__about {
    padding-top: 4rem;
    padding-bottom: 32rem;
  }
  .main .main__about .main__about_desc {
    top: 52%;
  }
  .main .main__about .main__about_desc .main__title {
    font-size: 1.8em;
  }
  .main .main__about .main__about_desc .btn-main {
    max-width: 116px;
    height: 36px;
  }
  .main .main__popular {
    padding-bottom: 7rem;
  }
  .main .main__popular .main__popular_block .main__popular_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .main .main__popular .main__popular_block .popular__picture .btn-popular {
    width: 125px;
    height: 36px;
    font-size: .8em;
  }
  .main .main__collection {
    padding-bottom: 10rem;
  }
  .main .main__blog .blog__title {
    padding-bottom: 5rem;
  }
  .main .main__blog .main__blog-item .main__blog-picture {
    height: 403px;
  }
  /*footer*/
  .footer .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  .footer .footer__inner .footer__logo {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .footer .footer__inner .footer__nav, .footer .footer__inner .footer__support, .footer .footer__inner .footer__form {
    width: 100%;
    background-color: #82f4d3;
    border-bottom: 1px solid #888888;
  }
  .footer .footer__inner .footer__nav .footer__title, .footer .footer__inner .footer__support .footer__title, .footer .footer__inner .footer__form .footer__title {
    padding-left: 5px;
  }
  .footer .footer__inner .footer__nav .footer__title:Before, .footer .footer__inner .footer__support .footer__title:Before, .footer .footer__inner .footer__form .footer__title:Before {
    content: "Menu";
    text-decoration: none;
    font-size: 2em;
    font-family: "Poppins";
    color: #888888;
    line-height: 1.667;
  }
  .footer .footer__inner .footer__nav .nav__link, .footer .footer__inner .footer__support .nav__link, .footer .footer__inner .footer__form .nav__link {
    display: none;
  }
  .footer .footer__inner .footer__nav .nav__link .link, .footer .footer__inner .footer__support .nav__link .link, .footer .footer__inner .footer__form .nav__link .link {
    font-size: 1.4em;
    margin-bottom: 11px;
    padding-left: 15px;
    position: relative;
  }
  .footer .footer__inner .footer__nav .nav__link .link:before, .footer .footer__inner .footer__support .nav__link .link:before, .footer .footer__inner .footer__form .nav__link .link:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #888888;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 12px;
    left: 2px;
  }
  .footer .footer__inner .footer__support .footer__title:Before {
    content: "Support";
    text-decoration: none;
    font-size: 2em;
    font-family: "Poppins";
    color: #888888;
    line-height: 1.667;
  }
  .footer .footer__inner .footer__support .support {
    display: none;
  }
  .footer .footer__inner .footer__support .support .link {
    font-size: 1.4em;
    margin-bottom: 11px;
    padding-left: 15px;
    position: relative;
  }
  .footer .footer__inner .footer__support .support .link:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #888888;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 12px;
    left: 2px;
  }
  .footer .footer__inner .footer__form .footer__title:Before {
    content: "Form";
    text-decoration: none;
    font-size: 2em;
    font-family: "Poppins";
    color: #888888;
    line-height: 1.667;
  }
  .footer .footer__inner .footer__form form {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .footer__inner .footer__form .footer__social-link .footer_icon {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
  /*Header*/
  header {
    height: 570px;
  }
  header .header__nav .logo p {
    font-size: 1.8em;
  }
  header .header__nav .menu_btn .nav__link {
    position: absolute;
    -webkit-transform: translateX(-71%);
    transform: translateX(-71%);
    top: -123px;
  }
  header .header__main .header__main_brand {
    padding-top: 0;
  }
  header .header__main .header__main_brand .main_brand_picture {
    width: 230px;
    margin-left: 0;
  }
  header .header__main .btn-header {
    width: 155px;
    height: 44px;
    font-size: 1.2em;
  }
  header .header__social nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    top: 140px;
    left: 10%;
  }
  header .header__social nav .header__social_link {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }
  header .header__subtitle {
    display: none;
  }
  /*main*/
  .main .main .main__about .main__about_desc .main__title {
    font-size: 1.5em;
  }
  .main .main__popular .main__popular_block .popular__picture .btn-popular {
    width: 100px;
    height: 36px;
  }
}

@media (max-height: 500px) {
  /*footer*/
  .footer .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  .footer .footer__inner .footer__logo {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .footer .footer__inner .footer__nav, .footer .footer__inner .footer__support, .footer .footer__inner .footer__form {
    width: 100%;
    background-color: #82f4d3;
    border-bottom: 1px solid #888888;
  }
  .footer .footer__inner .footer__nav .footer__title, .footer .footer__inner .footer__support .footer__title, .footer .footer__inner .footer__form .footer__title {
    padding-left: 5px;
  }
  .footer .footer__inner .footer__nav .footer__title:Before, .footer .footer__inner .footer__support .footer__title:Before, .footer .footer__inner .footer__form .footer__title:Before {
    content: "Menu";
    text-decoration: none;
    font-size: 2em;
    font-family: "Poppins";
    color: #888888;
    line-height: 1.667;
  }
  .footer .footer__inner .footer__nav .nav__link, .footer .footer__inner .footer__support .nav__link, .footer .footer__inner .footer__form .nav__link {
    display: none;
  }
  .footer .footer__inner .footer__nav .nav__link .link, .footer .footer__inner .footer__support .nav__link .link, .footer .footer__inner .footer__form .nav__link .link {
    font-size: 1.4em;
    margin-bottom: 11px;
    padding-left: 15px;
    position: relative;
  }
  .footer .footer__inner .footer__nav .nav__link .link:before, .footer .footer__inner .footer__support .nav__link .link:before, .footer .footer__inner .footer__form .nav__link .link:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #888888;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 12px;
    left: 2px;
  }
  .footer .footer__inner .footer__support .footer__title:Before {
    content: "Support";
    text-decoration: none;
    font-size: 2em;
    font-family: "Poppins";
    color: #888888;
    line-height: 1.667;
  }
  .footer .footer__inner .footer__support .support {
    display: none;
  }
  .footer .footer__inner .footer__support .support .link {
    font-size: 1.4em;
    margin-bottom: 11px;
    padding-left: 15px;
    position: relative;
  }
  .footer .footer__inner .footer__support .support .link:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #888888;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 12px;
    left: 2px;
  }
  .footer .footer__inner .footer__form .footer__title:Before {
    content: "Form";
    text-decoration: none;
    font-size: 2em;
    font-family: "Poppins";
    color: #888888;
    line-height: 1.667;
  }
  .footer .footer__inner .footer__form form {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .footer__inner .footer__form .footer__social-link .footer_icon {
    width: 26px;
    height: 26px;
  }
}

/*Html*/
html {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Logo*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.logo img {
  min-width: 40px;
}

.logo p {
  font-size: 2em;
  font-family: "Ubuntu";
  color: #82f4d3;
  padding-left: 1rem;
  letter-spacing: 2px;
}

.logo p span {
  color: #000;
}

/*Main*/
main {
  position: relative;
}

main .main__title {
  font-size: 2.8em;
  font-family: "Cormorant Garamond";
  color: #000;
  line-height: 0.556;
  font-weight: 500;
  padding-bottom: 3rem;
}

main .main__subtitle {
  font-size: 1em;
  font-family: "Poppins";
  color: #888888;
  line-height: 2;
  text-align: left;
  max-width: 600px;
  padding-bottom: 6rem;
  text-align: justify;
}

/*Link*/
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.nav__link .link {
  text-decoration: none;
  font-size: 1em;
  font-family: "Poppins";
  color: #888888;
  line-height: 1.667;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */