@keyframes block{
    0%{
        
            top: 240px;
            left: 280px;
            right: 0;
            bottom: 0;
        
    }
    25%{
        
            top: -110px;
            left: 280px;
            right: 0;
            bottom: 0;
        
    }
    50%{
        
            top: -110px;
            left: -110px;
            right: 0;
            bottom: 0;
        
    }
    75%{
        
            top: 240px;
            left: -110px;
            right: 0;
            bottom: 0;
        
    }
    100%{
        
            top: 240px;
            left: 280px;
            right: 0;
            bottom: 0;
        
    }
}