.main__popular{
    padding-bottom: 13rem;
    .main__popular_block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .main__popular_item{
            flex: 50%;
            .popular__picture{
                width: 250px;
                height: 305px;
                position: relative;
    
                margin-bottom: 6rem;
                img{
                    width: 100%;
                }
                
                &:hover:before,
                &:hover .btn-popular{
                    opacity: 1;
                }
                &:before{
                    content: "";
                    opacity: 0;
    
                    width: 230px;
                    height: 286px;
                    background-color: $Color-BackButt;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    right: 0;
                    bottom: 0;  
                    
                    transition: all .2s linear;
                }
            }
            p{
                font-size: 1em;
                font-family: $Fonts-Link;
                color: rgb(0, 0, 0);
                line-height: 2;
                text-align: left;
    
                padding-bottom: 2rem;
                span{
                    opacity: 0.5;
                    padding-left: 2rem;
                }
            }
            .price{
                font-size: 1.6em;
                font-family: "Roboto";
                color: rgb(153, 153, 153);
                line-height: 1.2;
                text-align: left;
            }
        }
        
    }
}