
/*Media*/
@media (max-width: 1440px){
    /*Header*/
    header{
        /*Nav*/
        .header__social{
            nav{
                left: 96%;
            }
        }
        .header__subtitle p{
            -webkit-transform: translateX(-125px) translateY(354px) rotate(-90deg);
                    transform: translateX(-125px) translateY(354px) rotate(-90deg);
        }
         
    }
    /*Main*/
    main {
        .main__about{
            left: 0;
        }
        .main__collection {
            .main__collection_picture{
                &:before{
                    top: 190px;
                    left: 220px;
                }
            }
            .btn-main{
                margin-left: 15px;
            }
        }
    }
}
@media  (max-width: 1110px){
    body{
        font-size: 14px;
    }
    /*Header*/
    header{
        height: 920px;
        /*Nav*/
        .header__social{
            nav{
                top: 170px;
                left: 95%;
            }
        }
        .header__picture{
            img{
                width: 50%;
                height: 68%;
            }
        }
        .header__subtitle p{
            -webkit-transform: translateX(-125px) translateY(281px) rotate(-90deg);
                    transform: translateX(-125px) translateY(281px) rotate(-90deg);
        }  
    }
    /*Main*/
    main {
        .main__collection {
            .main__collection_picture{
                max-width: 440px;
                &:before{
                    display: none;
                }
            }
            .main__subtitle{
                max-width: 520px;
            }
            
        }
        .main__popular_block{
            .main__popular_item{
                .popular__picture{
                    &:before{
                        display: none;
                    }
                    .btn-popular{
                        max-width: 150px;
                        opacity: 1;
                        top: 91%;
                        right: 21%;
                        background-color:$Color-BackButt;
                        color:$Color-Button;
                        border:0;  
                    }
                }
            }
        }
        .main__blog{
            padding-bottom: 12rem;
            .main__blog-item{
                .main__blog-picture{
                    margin-bottom: 30px;
                    &:after,
                    &:before{
                        display: none;
                    }
                }
            }
            .main__blog-block{
                .main__subtitle{
                    padding-bottom: 4rem;
                }
            }
        }
    }
}

@media (max-width: 770px) {
    body{
        font-size: 14px;
    }
    /*header*/
    header{
        /*Nav*/
        .header__social{
            nav{
                left: 92%;
            }
        }
        .header__picture {
            display: none;
        }
        .header__main{
            .header__main_brand{
                padding-top: 8em;
                .main_brand_picture{
                    width: 415px;
                    margin: 0 auto;
                }
            }
            .btn-header{
                max-width: 191px;
                word-spacing: 2px;
                font-size:1.4em;
                margin-left: 135px;
            }
        }
        .header__social nav{
            top: 44px;
        }
        .header__subtitle p{
            -webkit-transform: translateX(-125px) translateY(160px) rotate(-90deg);
                    transform: translateX(-125px) translateY(160px) rotate(-90deg);
        }
    }
    /*main*/
    .main{
        .main__about_desc{
            left: 5%;
            .main__subtitle{
                padding-bottom: 2.5rem;
            }
            .btn-main{
                margin-left: 0;
            }
        }
        .main__popular {
            .main__popular_block{
                padding-left: 50px;
                padding-right: 50px;
                .main__popular_item{
                    -webkit-box-flex:0;
                            flex:0 1 50%;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                }
            } 
        }
        .main__collection {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                    flex-direction: column-reverse;
            padding-bottom: 75px;
            .main__collection_picture{
                max-width: 413px;
                margin-bottom: 50px;
                &:before{
                    display: none;
                }
            }
            .main__subtitle{
                max-width: 520px;
            }
        }
        .main__blog{
            .main__blog-item .main__blog-picture{
                height: 403px;
            }
        } 
    }
}

@media (max-width: 450px) {
    body{
        font-size: 13px;
    }
    /*Header*/
    header{
        height: 730px;
        background-position-x: 36%;
        .header__nav{
             .logo{
                width: 100px;
                p{
                    font-size: 1.8em;
                }
            }
            .menu_btn {
                .nav__link ,
                .nav__link_active{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .link{
                        font-size: 1.8em;
                        margin-left: 0;
                    } 
                }
                .burger-menu{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .header__main {
            .header__main_brand{
                padding-top: 2em;
                .main_brand_picture{
                    width: 300px;
                    margin-left: 0;
                }
            }
            
            .btn-header{
                margin-left: 15px;
                font-size: 1.1em;
            }
        }
        .header__social{
            nav{
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                        flex-direction: row;
                top: 234px;
                left: 16%;
                .header__social_link{
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }
        .header__subtitle{
            display: none;
        }
    }
    /*main*/
    .main{
        .btn-main{
            max-width: 116px;
            height: 36px;
        }
        .main__about{
            padding-top: 4rem;
            padding-bottom: 32rem;
            .main__about_desc{
                top: 52%;
                .main__title{
                    font-size: 1.8em;
                }
                .btn-main{
                    max-width: 116px;
                    height: 36px;
                }
            }
        }
        .main__popular {
            padding-bottom: 7rem;
            .main__popular_block{
                .main__popular_item{
                    -webkit-box-flex:0;
                            flex:0 1 100%;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem; 
                }
                .popular__picture{
                    .btn-popular{
                        width: 125px;
                        height: 36px;
                        font-size: .8em;
                    }
                }
            }
        }
        .main__collection{
            padding-bottom: 10rem;
        }
        .main__blog{
            .blog__title{
                padding-bottom: 5rem;
            }
            .main__blog-item .main__blog-picture{
                height: 403px;
            }
        } 
    }
    /*footer*/
    .footer{
        .footer__inner{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            margin:0 auto;
            padding: 0;
            .footer__logo{
                padding-bottom: 20px;
                padding-top: 20px;
            }
            .footer__nav,.footer__support,.footer__form{
                width: 100%;
                background-color: #82f4d3;
                border-bottom: 1px solid #888888;;
                .footer__title{
                    padding-left: 5px;
                    &:Before{
                        content: "Menu";
                        text-decoration: none;
                        font-size: 2em;
                        font-family: "Poppins";
                        color: #888888;
                        line-height: 1.667;  
                    }
                }
                .nav__link{
                    display: none;
                    .link{
                        font-size: 1.4em;
                        margin-bottom: 11px;
                        padding-left: 15px;
                        position: relative;
                        &:before{
                            content:"";
                            display: block;
                            position: absolute;
                            background-color:#888888;
                            width: 5px;
                            height: 5px;
                            border-radius:50%;

                            top: 12px;
                            left: 2px;
                        }
                    }
                }
            }
            .footer__support{
                .footer__title{
                    &:Before{
                        content: "Support";
                        text-decoration: none;
                        font-size: 2em;
                        font-family: "Poppins";
                        color: #888888;
                        line-height: 1.667;  
                    }
                }
                .support{
                    display: none;
                    .link{
                        font-size: 1.4em;
                        margin-bottom: 11px;
                        padding-left: 15px;
                        position: relative;
                        &:before{
                            content:"";
                            display: block;
                            position: absolute;
                            background-color:#888888;
                            width: 5px;
                            height: 5px;
                            border-radius:50%;

                            top: 12px;
                            left: 2px;
                        }    
                    }
                }
            }
            .footer__form{
                .footer__title{
                    &:Before{
                        content: "Form";
                        text-decoration: none;
                        font-size: 2em;
                        font-family: "Poppins";
                        color: #888888;
                        line-height: 1.667;  
                    }
                }
                form{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .footer__social-link{
                    .footer_icon{
                        width: 26px;
                        height: 26px;
                    }
                }      
            }                    
        }
    }
}
@media (max-width: 320px) {
    body{
        font-size: 12px;
    }
    /*Header*/
    header{
        height: 570px;
        .header__nav{
            .logo{
                p{
                    font-size: 1.8em;
                }
            }
        }
        
        .header__main {
            .header__main_brand{
                padding-top: 0;
                .main_brand_picture{
                    width: 230px;
                    margin-left: 0;
                }
            }
            .btn-header{
                width: 155px;
                height: 44px;
                font-size: 1.2em;
            }
        }
        .header__social{
            nav{
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                        flex-direction: row;
                top: 140px;
                left: 10%;
                .header__social_link{
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }
        .header__subtitle{
            display: none;
        }
    }
    /*main*/
    .main{
        .main .main__about .main__about_desc .main__title{
            font-size: 1.5em;
        }
        .main__popular {
            .main__popular_block{
                .popular__picture{
                    .btn-popular{
                        width: 100px;
                        height: 36px;
                    }
                }
            }
        }
    }
}

@media (max-height: 500px){
    /*footer*/
    .footer{
        .footer__inner{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            margin:0 auto;
            padding: 0;
            .footer__logo{
                padding-bottom: 20px;
                padding-top: 20px;
            }
            .footer__nav,.footer__support,.footer__form{
                width: 100%;
                background-color: #82f4d3;
                border-bottom: 1px solid #888888;;
                .footer__title{
                    padding-left: 5px;
                    &:Before{
                        content: "Menu";
                        text-decoration: none;
                        font-size: 2em;
                        font-family: "Poppins";
                        color: #888888;
                        line-height: 1.667;  
                    }
                }
                .nav__link{
                    display: none;
                    .link{
                        font-size: 1.4em;
                        margin-bottom: 11px;
                        padding-left: 15px;
                        position: relative;
                        &:before{
                            content:"";
                            display: block;
                            position: absolute;
                            background-color:#888888;
                            width: 5px;
                            height: 5px;
                            border-radius:50%;

                            top: 12px;
                            left: 2px;
                        }
                    }
                }
            }
            .footer__support{
                .footer__title{
                    &:Before{
                        content: "Support";
                        text-decoration: none;
                        font-size: 2em;
                        font-family: "Poppins";
                        color: #888888;
                        line-height: 1.667;  
                    }
                }
                .support{
                    display: none;
                    .link{
                        font-size: 1.4em;
                        margin-bottom: 11px;
                        padding-left: 15px;
                        position: relative;
                        &:before{
                            content:"";
                            display: block;
                            position: absolute;
                            background-color:#888888;
                            width: 5px;
                            height: 5px;
                            border-radius:50%;

                            top: 12px;
                            left: 2px;
                        }    
                    }
                }
            }
            .footer__form{
                .footer__title{
                    &:Before{
                        content: "Form";
                        text-decoration: none;
                        font-size: 2em;
                        font-family: "Poppins";
                        color: #888888;
                        line-height: 1.667;  
                    }
                }
                form{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .footer__social-link{
                    .footer_icon{
                        width: 26px;
                        height: 26px;
                    }
                }   
            }                    
        }
    }
}