.main__reviews{
    padding-bottom: 9.5rem;
    .slick-prev {
        left: -50px;
    }
    .slick-prev:before, .slick-next:before{
        color: #000;
        font-size: 45px;
    }
    .reviews_slider-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 1rem;

        outline: none;
        p{  
            width: 100%;
            max-width: 850px;
            text-align: center;
        }
        span{
            font-size: 1.2em;
            font-family: $Fonts-Subtitle;
            color: rgb(102, 102, 102);
        }
        .prof{
            color: #82f4d3;
        }
    }
}