.btn{
    display: block;

    font-family: $Fonts-Button;
    color:$Color-Button;

    text-align: center;

    text-decoration: none;

    background-color:$Color-BackButt;  
}   
/*.btn-header*/ 
.btn-header{
    width: 300px;
    height: 50px;
    
    margin-left: 55px;
    word-spacing: 8px;

    position: relative;

    font-size: 25px;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
    &:hover:before{
        top:5px;
        left:-5px;
    }
    
    &:before{
        content: "";
        display: block;
        position: absolute;
        width: 300px;
        height: 50px;
        background:transparent;
        border:2px solid $Color-BackButt;

        top:12px;
        left:-12px;

        z-index: -1;
        
        transition: all .2s linear;
    }
}