.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $Fonts-Button;
    color:$Color-Button;

    text-align: center;

    text-decoration: none;

    background-color:$Color-BackButt;  
}   
/*.btn-header*/ 
.btn-header{
    width: 300px;
    height: 50px;
    
    margin-left: 55px;
    word-spacing: 8px;

    position: relative;

    font-size: 1.6em;
    font-weight: bold;

    text-transform: uppercase;
    &:hover:before{
        top:5px;
        left:-5px;
    }
    
    &:before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background:transparent;
        border:2px solid $Color-BackButt;

        top:12px;
        left:-12px;

        z-index: -1;
        
        transition: all .2s linear;
    }
}

/*.btn-main*/ 
.btn-main{
    width: 146px;
    height: 47px;

    font-size: 1em;

    padding: 15px 25px;
    position: relative;
    &:hover:before{
        top:-5px;
        left:-5px;
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background:transparent;
        border:1px solid $Color-BackButt;

        top:-12px;
        left:-12px;

        z-index: -1;
    
        transition: all .2s linear;
    }
}
/*.btn-popular*/ 
.btn-popular{
    background:transparent;
    border:2px solid #fff;
    width: 150px;
    height: 50px;

    color:#fff;

    position: absolute;
    top: 45%;
    left: 21%;
    right: 0;
    bottom: 0;  

    opacity: 0;
    
    transition: all .3s linear;
}

.btn-footer{
    box-shadow: 0px 5px 19px 1px rgba(242, 241, 241, 0.75);

    width: 146px;
    height: 47px;
}